body {
  background-color: #000;
}

/* Loading Screen Section */
#loading-screen-container {
  color: #fff;
  font-size: 2em;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  z-index:1;
  animation-delay: var(--loading-screen-delay);
}

#loading-screen {
  border: 3px solid #fff;
  min-height:200px;
  min-width: 200px;
  border-radius: 50%;
  letter-spacing: 1.6px;
  border-right-color: transparent;
  border-left-color: transparent;
}

#loading-bar {
  border: 1px solid #fff;
  width: 200px;
  height: 6px;
  margin-top: var(--size-34);
  border-radius: var(--size-16);
  overflow: hidden;
}

#loading-bar-inner {
  height: 100%;
  background-color: #fff;
  width: 0%;
}

.screen-container {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.swap-screen-container {
  visibility:visible;
  opacity:1;
}

.options-menu {
  width:500px;
  color:white;
  border:1px solid rgba(255,255,255,0.6);
  box-shadow:1px 0px 24px rgba(255,255,255,0.6);
  transform:translateX(0);
}

.options-menu-header {
  font-size:var(--size-18);
  text-align:center;
  border-bottom:1px solid #fff;
  box-shadow:1px 0px 8px rgba(255,255,255,0.6);
}

[data-animation="loadFadeOut"] {
  animation: loadFadeOut 0.8s linear forwards;
}

[data-animation="loadSpin"] {
  animation: loadSpin 2.2s ease infinite;
}

[data-animation="loadSpinReverse"] {
  animation: loadSpinReverse 2.2s ease infinite;
}

[data-animation="loadBarRight"] {
  animation: loadBarRight 3s ease forwards;
}

[data-animation="loadFadeInOut"] {
  animation: loadFadeInOut 1.6s ease-in-out infinite;
}

[data-animation="swapFadeIn"] {
  /* animation:swapFadeIn 0.8s linear calc(var(--loading-screen-delay) + 0.4s) forwards; */
}

[data-animation="swapFadeIn"] [data-animation="swapFadeRight"] {
  /* animation:swapFadeRight 0.8s linear calc(var(--loading-screen-delay) + 0.6s) forwards; */
}

@keyframes loadFadeOut {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes loadSpin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loadSpinReverse {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes loadFadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadBarRight {
  to {
    width: 100%;
  }
}

@keyframes swapFadeIn {
  to {
    visibility:visible;
    opacity:1;
  }
}

@keyframes swapFadeRight {
  to {
    transform:translateX(0);
  }
}