body {
  background-color: #000;
}

/* Loading Screen Section */
#loading-screen-container {
  color: #fff;
  font-size: 2em;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  z-index:1;
  animation-delay: var(--loading-screen-delay);
}

#loading-screen {
  border: 3px solid #fff;
  min-height:200px;
  min-width: 200px;
  border-radius: 50%;
  letter-spacing: 1.6px;
  border-right-color: transparent;
  border-left-color: transparent;
}

#loading-bar {
  border: 1px solid #fff;
  width: 200px;
  height: 6px;
  margin-top: var(--size-34);
  border-radius: var(--size-16);
  overflow: hidden;
}

#loading-bar-inner {
  height: 100%;
  background-color: #fff;
  width: 0%;
}

.screen-container {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.swap-screen-container {
  visibility:hidden;
  opacity:0;
  transition: all linear .4s;
}

.swap-screen-container.active {
  visibility:visible;
  opacity:1
}

.swap-screen-container .options-menu {
  width:500px;
  border:1px solid rgba(255,255,255,0.6);
  box-shadow:1px 0px 24px rgba(255,255,255,0.6);
  border-radius:10px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  text-shadow:1px 0px 5px rgb(0,0,0);
  overflow:hidden;
  transform:translate(-50%);
  transition:all linear 0.3s;
  visibility:hidden;
  opacity:0;
}

.swap-screen-container.active .options-menu {
  transform:translate(0);
  visibility: visible;
  opacity:1;
}

.swap-screen-container .options-menu-link,
.swap-screen-container .back-menu {
  color:white;
}

.options-menu-header {
  text-align:center;
  border-bottom:1px solid #fff;
  box-shadow:1px 0px 8px rgba(255,255,255,0.6);
  padding: 12px 0;
  font-size:var(--size-20);
  letter-spacing:2px;
  margin-bottom:10px;
}

.options-menu-list .options-menu-link {
  height:50px;
  border:1px solid black;
  border-left:transparent;
  border-right:transparent;
  border-bottom:transparent;
  width:150px;
  text-align:right;
  position:relative;
  line-height:50px;
  padding-right:50px;
  padding-left:200px;
  background-color: #0b80c9;
  transition:padding 0.8s, width 0.6s;
  transform:translate(-120%);
  display:block;
}

.swap-screen-container.active .options-menu-list .options-menu-link {
  animation:slideRightBack 1.2s forwards;
}

.options-menu-list .options-menu-link:hover {
  cursor:pointer;
  width:200px;
}

.options-menu-list .options-menu-link:after {
  content:'';
  position:absolute;
  width:0px;
  height:0px;
  border:26px solid;
  right:0;
  transform:translate(100%);
  border-color: transparent transparent transparent #0b80c9;
}

[data-animation="loadFadeOut"] {
  animation: loadFadeOut 0.8s linear forwards;
}

[data-animation="loadSpin"] {
  animation: loadSpin 2.2s ease infinite;
}

[data-animation="loadSpinReverse"] {
  animation: loadSpinReverse 2.2s ease infinite;
}

[data-animation="loadBarRight"] {
  animation: loadBarRight 3s ease forwards;
}

[data-animation="loadFadeInOut"] {
  animation: loadFadeInOut 1.6s ease-in-out infinite;
}
/* 
[data-animation="swapFadeIn"] {
  animation:swapFadeIn 0.8s linear 3s forwards;
}

[data-animation="swapFadeIn"] [data-animation="swapFadeRight"] {
  animation:swapFadeRight 0.8s linear 3s forwards;
} */
/* 
[data-animation="swapFadeIn"].active {
  animation:swapFadeIn 0.8s linear forwards;
}

[data-animation="swapFadeIn"].active [data-animation="swapFadeRight"] {
  animation:swapFadeRight 0.8s linear forwards;
} */


@keyframes loadFadeOut {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes loadSpin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loadSpinReverse {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes loadFadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadBarRight {
  to {
    width: 100%;
  }
}

@keyframes swapFadeIn {
  to {
    visibility:visible;
    opacity:1;
  }
}

@keyframes swapFadeRight {
  to {
    transform:translateX(0);
  }
}

@keyframes slideRightBack {
  0% {
    transform:translate(-120%);
  }
  50% {
    transform:translate(0);
  }
  100% {
    transform:translate(0);
    padding-left:0;
  }
}